:root {
    --primary-color: #6e0000;
    --secondary-color: #e4b649;
    --accent1-color: #457b9d;
    --accent2-color: #921000;
    --padding: 1rem;
    --border: 1px solid #fff;
}

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

.funnel-sans {
    font-family: "Funnel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Funnel Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

#container {
    display: grid;
    grid-template-areas: 
    'header header header'
    'hero hero hero'
    'article article article'
    'section section section'
    'footer footer footer';
    gap: 30px;
    padding: 20px;
    position: relative;

}

header {
    grid-area: header;
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center; 
}

header img {
    background-color: white;
    padding: 1px;
    border: 1px solid #000;
    box-shadow: 0 0 30px gray;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

nav a {
    color: white;
    font-family: 'Funnel Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s;

}

nav a:hover {
    color: var(--primary-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
    position: relative;
}

.hero-img {
    grid-area: hero;
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
}

.hero content {
    position:absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

h1 {
    font-family: 'Boldonse', system-ui;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
}

article {
    grid-area: article;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--padding);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #457b9d;
    position: absolute;
    top: 100px; 
    left: 50%;
    transform: translateX(-50%);
}

article img {
    max-width: 400px;
    width: 100%;
    margin-left: 20px;
}

article p {
    flex: 1;
    margin-right: 20px;
    font-family: 'Funnel Sans', sans-serif;
    font-size: 2.5rem;
}

h3 {
    background-color: var(--accent1-color);
    font-size: 2.5rem;
    font-family: 'Boldonse', system-ui;
    color: var(--primary-color);
}

section {
    grid-area: section;
    width: 100%;
    max-width: 1200px;
    padding: var(--padding);
    margin-top: 30px;
    text-align: center;
}

section img {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
}

section p {
    font-family: 'Funnel Sans', sans-serif;
    font-size: 2.5rem;
}

footer {
    grid-area: footer;
    margin-top: 50px;
    border-top: var(--border);
    text-align: center;
    padding: 1rem 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

footer p {
    margin: 0;
    font-family: 'Funnel Sans', sans-serif;
}

.sociallinks a {
    margin: 0 10px;
}

.sociallinks img {
    width: 30px;
    height: 30px;
    text-align: center;
}

.sociallinks img:hover {
    transform: scale(1.1);
}
