:root {
    --primary-color: #6e0000;
    --secondary-color: #e4b649;
    --accent1-color: #457b9d;
    --accent2-color: #921000;
    --padding: 1rem;
    --border: 1px solid #fff;
}

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 800;
    font-style: normal;
}

.funnel-sans {
    font-family: "Funnel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Funnel Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

#container {
    display: grid;
    grid-template-areas: 
    'header'
    'hero'
    'article'
    'section'
    'footer';
    padding: 0px 20px;
    position: relative;

}

header {
    grid-area: header;
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center; 
}

header img {
    background-color: white;
    border: 1px solid #000;
    box-shadow: 0 0 30px gray;
    width: 10%;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

nav a {
    color: white;
    font-family: 'Funnel Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s;

}

nav a:hover {
    color: var(--accent1-color);
    transform:scale(1.2);
    display: inline-block;
    transition: 0.3s;
}

main {
    display: flex;
    flex-direction: column;
    

}

.hero-section {
    grid-area: hero;
    height: 100vh;
}

.hero-img {
    text-align: center;
    width: 100%;
    height: 90vh;
    background-size: cover;
    /*background-position: center;*/
    position: absolute;
    display: flex;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    display: flex;
    font-family: 'Boldonse', system-ui;
    font-size: 3rem;
    /*background-color: var(--primary-color);*/
    width: 50%;
    color: var(--primary-color);
    padding: var(--padding);
    text-align: center;
    height: 100%;
    /*margin-top: 150px;
    margin-left: 500px;*/
    /*top: 300px;
    left: 800px;
    z-index: 1;*/
    position: absolute;
    justify-content: end;
    
}

article {
    grid-area: article;
    display: flex;
    text-align: center;
    font-size: 1.3rem;
    padding: 2px;
    color: #fff;
    position: absolute;
    z-index: 1;
    margin-top: 300px;
     
}

.article-image {
    max-width: 300px;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.article-content {
    flex: 1;
    padding: 40px;
    font-size: 1.5rem;
    margin: 10px;
}

.button {
    background-color: #6e0000;
    color:#FFF;
    padding: 10px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    margin-top: 600px;
    z-index: 1;
    font-family: 'Funnel Sans', sans-serif;
    font-size: 2rem;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 30px gray;
    
}

.button:hover{
    color: var(--accent1-color);
    transform:scale(1.2);
    display: inline-block;
    transition: 0.3s;
}

h3 {
    background-color: var(--primary-color);
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    align-items: center;
}

section {
    grid-area: section;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position:  relative;
    margin-top: 490px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
}
  
caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}
  
thead, tfoot {
    background-color: rgb(228 240 245);
    font-size: 2rem;
}
  
th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    font-size: 1.5rem;
}
  
td:last-of-type {
    text-align: center;
}
  
tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}
  
tfoot th {
    text-align: right;
}
  
tfoot td {
    font-weight: bold;
}

section img {
    width: 100%;
    max-width: 300px;
    position: relative;
    /*left: 210px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

section p {
    font-family: 'Funnel Sans', sans-serif;
    font-size: 2rem;
    background-color: #fff;
    display: flex;
    grid-template-columns: minmax(600px, 700px);
    text-align: center;
    justify-content: center;
    position:relative;
}

table {
    border-collapse: collapse;
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-family:sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    caption-side:bottom;
    padding: 10px;
    font-weight: bold;
}


thead {
    background-color: #6e0000;
    color:var(--secondary-color);
}


tc {
    border: 1px solid rgb(0 0 0);
    padding: 8px 10px;
    background-color: #fff;
}


.section2 {
    grid-area: section;
    width: 100%;
    height: 100%;
    padding: var(--padding);
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


h4 {
    text-align:center;
    color:#6e0000;
    font-size: 30px;

}


.section2 p {
    font-family: 'Funnel Sans', sans-serif;
    font-size: 2.5rem;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    display: block;
    caption-side: bottom;
  }

.adventure-images {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 200px;

}

.adventure-images img {
    width: 200px;
    height: 200px;
    background-color: gray;
    border: 3px solid rgb(0 0 0)
}

.adventure-images img:hover {
    transform: scale(1.5);
}

.beach {
    width: 300px;
    height: 300px;
    background-color: gray;
    margin-top: 100px;
}

.beach img{
    width: 300px;
    height: 300px;
    background-color: gray;
    border: 3px solid rgb(0 0 0);
}

.beach img:hover {
    transform: scale(1.2);
}

.camping {
    width: 405px;
    height: 200px;
    background-color: gray;
    margin-top: 100px;
}

.camping img {
    width: 400px;
    height: 400px;
    background-color: gray;
    border: 3px solid rgb(0 0 0)
}

.camping img:hover {
    transform: scale(1.1);
}

.subscribe {
    text-align: center;
}

form fieldset {
    border: 1px solid rgb(0 0 0);
    padding: 30px;
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

form textarea,
form input[type="text"],
form input[type="email"],
form button {
    padding: 10px;
    font-size: 1rem;
    font-family: 'Funnel Sans', sans-serif;
}

form button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
}

form button:hover {
    background-color: var(--accent2-color);
}

footer {
    grid-area: footer;

    border-top: var(--border);
    text-align: center;
    padding: 1rem 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    top: 230px;
}

footer p {
    margin: 0;
    font-family: 'Funnel Sans', sans-serif;
}

.sociallinks a {
    margin: 0 10px;
}

.sociallinks img {
    width: 30px;
    height: 30px;
    text-align: center;
}

.sociallinks img:hover {
    transform: scale(1.1);
}
