:root {
    --primary-color: #6e0000;
    --secondary-color: #e4b649;
    --accent1-color: #457b9d;
    --accent2-color: #921000;
    --padding: 1rem;
    --border: 1px solid #fff;
}

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

.funnel-sans {
    font-family: "Funnel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Funnel Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

#container {
    display: grid;
    grid-template-areas: 
    'header'
    'hero'
    'article'
    'section'
    'footer';
    gap: 30px;
    padding: 20px;
    position: relative;

}

header {
    grid-area: header;
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center; 
}

header img {
    background-color: white;
    padding: 5px;
    border: 1px solid #000;
    box-shadow: 0 0 30px gray;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

nav a {
    color: white;
    font-family: 'Funnel Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s;

}

nav a:hover {
    color: var(--primary-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
    position: relative;
}

.hero-img {
    grid-area: hero;
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}

.hero content {
    position:absolute;
    top: 20%;
    /*left: 50%;
    transform: translateX(-50%);*/
    color: white;
    text-align: center;
    z-index: 1;
}

h1 {
    font-family: 'Boldonse', system-ui;
    background-color: var(--primary-color);
    width: 20%;
    color: var(--secondary-color);
    padding: var(--padding);
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2px;
    display: grid;
    transform: translateY(-420%) translateX(180%);
    z-index: 1;
    
}

article {
    grid-area: article;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--accent1-color);
    position: absolute; 
    left: 50%;
    transform: translateX(-50%) translatey(-20%);
    width: 90%;
    
}

article img {
    max-width: 300px;
    height: auto;
    transform: translateX(-210%) translateY(50%);
}

.article-content {
    flex: 1;
    padding: 20px;
    width: 400px;
    transform: translateY(-60%);
    font-size: 1rem;
    
}

h3 {
    background-color: var(--primary-color);
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin: 20px 0;
    transform: translateY(1300%)
}

section {
    grid-area: section;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

section img {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
}

section p {
    font-family: 'Funnel Sans', sans-serif;
    font-size: 2rem;
    background-color: #fff;
    display:grid;
    grid-template-columns: minmax(600px, 700px)
}

section2 {
    grid-area: section;
    width: 100%;
    max-width: 1200px;
    padding: var(--padding);
    margin-top: 30px;
    text-align: center;
    transform: translateY(250%)
}

.adventure-images {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.adventure-images img {
    width: 100px;
    height: 100px;
    background-color: gray;
    /*transform: translateY(520%);*/
}


section2 p {
    font-family: 'Funnel Sans', sans-serif;
    font-size: 2.5rem;
}


footer {
    grid-area: footer;
    margin-top: 50px;
    border-top: var(--border);
    text-align: center;
    padding: 1rem 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transform: translateY(300%);
}

footer p {
    margin: 0;
    font-family: 'Funnel Sans', sans-serif;
}

.sociallinks a {
    margin: 0 10px;
}

.sociallinks img {
    width: 30px;
    height: 30px;
    text-align: center;
}

.sociallinks img:hover {
    transform: scale(1.1);
}
